#farmPic{
    width: 25%;
    height: 25%;

}

#examPic{
    width: 25%;
    height: 25%;
}

#weatherPic{
    width: 25%;
    height: 25%;
}

#farmDiv{
text-align: center;
width: 20%;

}

#quizDiv{
    text-align: center;
    width: 20%;
}

#weatherDiv{
    text-align: center;
    width: 20%
}

#mainDiv{
margin: auto;
}

#footer{
   text-align: center; 
}

.codeLink{
    color: black;
    text-decoration: none;
}

.codeLink:hover{
    color: inherit;
}

#header{
background-color: rgba(0, 0, 0, 0.041);
margin: 25px;
height: 50px;
text-align: center;
background-image: linear-gradient(to bottom right, rgb(235, 231, 226), rgb(230, 212, 201));
width: auto;
}

#headerTwo{
text-align: center;
text-shadow: 2px 1px #b4919167;
}

body{
    background-image: linear-gradient(to bottom right, rgb(235, 231, 226), rgb(219, 207, 200));
    background-repeat: no-repeat; 
    font-family: 'Bodoni Moda', serif;
    border-style: solid;
    border-width: 1px;
    margin: 5%;
    border-radius: 50px;
}

html{
    
    min-height:100%;
}

.card-body{
    background-color: rgba(209, 225, 240, 0.808);
}

.btn{
    padding: 1px
}

#footer{
    font-size: 10px;
    float: left;
}