#farmPic{
    width: 25%;
    height: 25%;

}

#examPic{
    width: 25%;
    height: 25%;
}

#weatherPic{
    width: 25%;
    height: 25%;
}

#farmDiv{
text-align: center;
width: 20%;

}

#quizDiv{
    text-align: center;
    width: 20%;
}

#weatherDiv{
    text-align: center;
    width: 20%
}

#mainDiv{
margin: auto;
}

#footer{
   text-align: center; 
}

.codeLink{
    color: black;
    text-decoration: none;
}

#header{
text-align: center;
}

#headerTwo{
text-align: center;
}

body{
    background-image: linear-gradient(to bottom right, rgb(255, 201, 130), rgb(255, 250, 247));
    background-repeat: no-repeat; 
}

html{

    min-height:100%;
}

.card-body{
    background-color: rgb(217, 237, 255);
}